<!-- About -->
<div class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
    <div class="duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0">
        <section class="bg-white dark:bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-black">About: SAA</h1>
                <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">The SAA community plays a crucial role in the betterment of the institute and its students. They provide valuable insights and experiences, enhancing professional and academic growth. The society organizes events such as Senate Introduction, Prometeo X SAA, Convocation & Alumni Induction Dinner, Dashak 3.0 + Alumni Day, graduating batch see-off ceremony, Soon to be Alumnus, and Ask an Alumnus. The society has various verticals, including Content, Design, Tech and Communication, Media, and Events. Each vertical plays a vital role in the overall functioning and success of the society, with a commitment to maintaining high standards and continuously improving efforts. The SAA's various verticals ensure the smooth operation and success of its events, fostering connections and camaraderie among its alumni.</p>
                <a href="https://alumni.iitj.ac.in/" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700" role="alert">
                </a>
            </div>
        </section>
    </div>
</div>