<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
  </head>
  <body>
    <%- include('./events/events.ejs') %> 
    <%- include('./events/eventTypes.ejs') %>
  </body>
</html>
