  <!-- About -->
  <div class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
    <div class="duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0">
        <section class="bg-white text-black py-32">
            <div class="container mx-auto text-center px-2 lg:px-8">
                <div class="flex items-center justify-center mb-4">
                    <div class="w-16 h-0.5 bg-gray-500"></div>
                    <h2 class="text-black text-2xl font-bold mx-4">ABOUT</h2>
                    <div class="w-16 h-0.5 bg-gray-500"></div>
                </div>
                <h1 class="text-4xl lg:text-5xl font-bold mb-8">Society of Alumni Affairs</h1>
                <p class="text-lg lg:text-xl mb-4">The SAA community plays a crucial role in the betterment of the institute and its students. They provide extremely valuable insights and experiences, enhancing professional and academic growth.</p>
                <p class="text-lg lg:text-xl mb-4">The society organizes events such as Senate Introduction, Prometeo X SAA, Convocation & Alumni Induction Dinner, Dashak 3.0 + Alumni Day, graduating batch see-off ceremony, Soon to be Alumnus, and Ask an Alumnus.</p>
                <p class="text-lg lg:text-xl mb-8 border border-red-500 p-4">The society has various verticals, including Content, Design, Tech, Media, AMP (Alumni Mentorship Programme) and Events. Each vertical plays a vital role in the overall functioning and success of the society, with a commitment to maintaining high standards and continuously improving efforts.</p>
                <p class="text-lg lg:text-xl mb-8">SAA's various verticals ensure the smooth operation and success of its events, fostering connections and camaraderie among its alumni.
                </p>
            </div>
        </section>
    </div>
</div>